<div class="container">
  <div class="content">
      <form class="form-horizontal" action="/person" method="post">
        <fieldset>
          <legend>New Person</legend>
          <div class="control-group">
            <label class="control-label" for="user_name">User Name</label>
            <div class="controls">
              <input type="text" name="user_name" class="input-xlarge" id="user_name" value="<%=person.user_name if person%>">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="first_name">First Name</label>
            <div class="controls">
              <input type="text" name="first_name" class="input-xlarge" id="first_name"  value="<%=person.first_name if person%>">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="last_name">Last Name</label>
            <div class="controls">
              <input type="text" name="last_name" class="input-xlarge" id="last_name"  value="<%=person.last_name if person%>">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn">Save</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
</div>