<% @scripts = ["javascript/app/persons/utils.js",
         "javascript/app/persons/models/personmodel.js",
         "javascript/app/persons/views/personlist.js",
         "javascript/app/persons/views/persondetails.js",
         "javascript/app/persons/main.js"] %>
<div class="content">
  <div class="row">
    <h1>Person Entity</h1>
    <a href="#person/new" class="btn btn-success new">New</a>
  </div>
  <div class="row">
    <div id="content"/>
  </div>
</div>
<%= show_scripts%>